body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Arial, Helvetica, sans-serif;
}
.container {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    vertical-align: middle;
    max-width: 1000px;
    color: black;
}

.container button:hover {
        opacity: .9;
}